/* $Id: main.css 6590 2014-01-02 00:00:00Z SocialEngineAddOns Copyright 2013-2014 BigStep Technologies Pvt. Ltd. $ */

.mtop_5{
  margin-top:5px;
}
.mtop10{
  margin-top:10px;
}
b, .bold{
  font-weight:bold;
}
.sitebooking_statistics_table td{
  font-weight:bold;
}
/*Mapping Table*/
.sitebooking_mapping_table tr{
  width:890px;
  float:left;
}
.sitebooking_mapping_table tr th,
.sitebooking_mapping_table tr td{
  width:870px;
  float:left;
}
.sitebooking_mapping_table .sitebooking_mapping_table_name{
  width:35%;
}
.sitebooking_mapping_table .sitebooking_mapping_table_name span{
  float:left;
  margin-right:5px;
}
.sitebooking_mapping_table .sitebooking_mapping_table_value{
  width:40%;
  min-height:10px;
}
.sitebooking_mapping_table .sitebooking_mapping_table_option{
  width:15%;
}
/*style for Import Event section start here*/
.icon_sitebooking_admin_import{
  background-image:url(~/application/modules/Sitebooking/externals/images/import.png);
}
.icon_sitebooking_admin_import_manage{
  background-image:url(~/application/modules/Sitebooking/externals/images/files.png);
}

.sitebooking_upload_csv_popup .settings .form-wrapper{
  width:500px !important;
}
.sitebooking_upload_csv_popup #buttons-label{
  display:none!important;
}
.icon_sitebookings_log{
  background-image: url(~/application/modules/Sitebooking/externals/images/log_clear.png);
}
.icon_sitebookings_import{
  background-image: url(~/application/modules/Sitebooking/externals/images/import.png);
}
.icon_sitebookings_download_csv{
  background-image: url(~/application/modules/Sitebooking/externals/images/download.gif);
}
.icon_sitebookings_generate_csv{
  background-image: url(~/application/modules/Sitebooking/externals/images/icons/file.png);
}
.sitebooking_upload_csv_popup_loader > div{
  margin:200px 0 0 250px;
  text-align:center;
}
.importevent_form_sitebooking{
  list-style: decimal outside none !important;
  padding-left: 10px;
}
.importevent_form_sitebooking > li{
  margin-left: 20px;
  padding: 7px 12px 7px 1px;
}
#global_page_sitebooking-admin-importevent-import .settings .form-element .description{
  max-width: 300px;
}
/*Manage Events*/
.sitebooking_admin_event_search{
  max-width:inherit;
}
.sitebooking_admin_event_search .search{
  float:none;
}
.sitebooking_admin_event_search .search form > div{
  margin:0px 10px 10px 0;
  overflow: unset;
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.sitebooking_admin_event_search .search form > div > button {
  margin-top: 15px;
}
.sitebooking_admin_event_search .search form label{
  margin-bottom:3px;
}
.sitebooking_admin_event_search .search div div{
  margin:0;
}
.sitebooking_admin_event_search .search div input,
.sitebooking_admin_event_search div select{
  padding:3px;
  max-width:150px;
  margin:0;
}
.sitebooking_admin_event_search .search div input{
  padding:4px;
}
.sitebooking_manage_msg{
  width:450px;
}
p.sitebooking_description{
  font-size: 11px;
  margin-top: 3px;
}
/*style for Import Event section end here*/
.sead_admin_search .search form > div.cat_loader{
  display: none;
  margin-top: 18px !important;
}
.sitebooking_assign_badge_list_popup{
  margin:10px;
}
.sitebooking_assign_badge_list{
  list-style:none;
  margin:15px 0;
  overflow:auto;
  max-height:300px;
  overflow:auto;
}
.sitebooking_assign_badge_list_popup form{
  width:600px !important;
}
.sitebooking_assign_badge_list li{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius:3px;
  text-align:center;
  font-weight:bold;
  float:left;
  width:90px;
  height:75px;
  margin-bottom:10px;
  padding:5px;
  border:1px solid #FFFFFF;
}
.sitebooking_assign_badge_list li.selected{
  background:#E9F4FA;
  border:1px solid #D0E2EC;
}
.sitebooking_assign_badge_list li img{
  max-width:50px;
  max-height:50px;
  border:none;
  margin:0px auto 0px;
}
.sitebooking_assign_badge_list li div.badge_name {
  clear: both;
  font-size: 11px;
  margin: 5px auto;
  text-align: center;
}
/*tooltip*/
.sitebooking_assign_badge_list_tip{
  background: #222;
  clear: both;
  display: none;
  margin-left: 18px;
  margin-top: 26px;
  max-width: 160px;
  opacity: 0.9;
  padding: 5px 15px 5px 5px;
  position: absolute;
  text-align: left;
}
.sitebooking_assign_badge_list_tip_wrapper:hover .sitebooking_assign_badge_list_tip{
  display: block;
  clear:both;
}
.sitebooking_assign_badge_list_tip img{
  left: 18px;
  top: -7px;
  position: absolute;
}
.sitebooking_assign_badge_list_tip div{
  clear:both;
  color: #FFFFFF;
  font-size: 0.8em;
}
/*Price info*/
.sitebooking_price_info_image{
  background: white;
  border: 1px solid #E8E8E8;
  display: inline-block;
  padding: 3px 3px 1px;
}
.sitebooking_price_info_image img{
  max-height:30px;
  max-width:100px;
} 
.sitebooking_wheretobuy_popup .form-label{
  width:80px !important;
}
.sitebooking_wheretobuy_popup .form-element .description{
  max-width:300px !important;
}
/*Manage Editors*/
.sitebooking_add_more{
  font-size:11px;
  font-weight:bold;
}
.sitebooking_editor_list .thumb_icon{
  height:48px;
  width:48px;
}
/*Manage Badges*/
.sitebooking_img_pre{
  max-width:200px !important;
}
/*Editor Edit Form*/
.sitebooking_popup_form .settings .form-elements{
  width:560px;
}
.sitebooking_popup_form .settings .form-label{
  width:130px;
}
.sitebooking_popup_form .settings .form-element{
  max-width:420px;
}
/*review parameters*/
.sitebooking_parameters_popup{
  margin:10px;
}
.sitebooking_parameters_popup form > div > div{
  min-height:200px;
}
.sitebooking_parameters_popup .form-elements{
  width:300px;
}
.sitebooking_parameters_popup .form-label{
  display:none !important;
}
.sitebooking_parameters_popup form{
  float:none;
}
.sitebooking_parameters_popup input[type="text"]{
  display: block;
  margin-bottom: 5px;
}
.sitebooking_parameters_popup #addOptionLink{
  clear: both;
  display: block;
  font-size:11px;
}
/*Event Detail Popup*/
.sitebooking_event_details_view{
  width:600px;
}
.sitebooking_event_details_view .top{
  padding:10px 0;
}
.sitebooking_event_details_view .top img{
  width:35px;
  margin-right:10px;
  vertical-align:middle;
}
.sitebooking_event_details_view .top a{
  font-weight:bold;
}
.sitebooking_event_details_view td{
  padding:3px;
}
.sitebooking_event_details_view td b{
  font-weight:bold;
}
/*Categories Page*/
.sitebooking_categories_left{
  border-right-width:2px;
  float:left;
  margin-right:-2px;
  width:340px;
}
.sitebooking_cat_list_wrapper{
  border-top-width:1px;
  margin-top:10px;
  padding-top:10px;
}
.sitebooking_cat_list{
  margin-bottom:10px;
}
.sitebooking_cat_handle{
  float:left;
  cursor: move;
  margin-right: 5px;
  vertical-align: middle;
}
.sitebooking_cat_det{
  overflow:hidden;
  font-size:12px;
}
.sitebooking_cat_det_name{
  display: list-item;
  overflow: hidden;
  white-space: nowrap;
}
.sitebooking_cat_det_options{
  float:right;
  margin-right:10px;
  margin-left:5px;
}
.sitebooking_cat_icon{
  display:inline-block;
  height:16px;
  vertical-align:middle;
  width:16px;
  text-indent:-999px;
}
.sitebooking_cat_showhide{
  vertical-align:middle;
  float:left;
  margin-right:5px;
}
.sitebooking_cat_new{
  font-size:11px;
  margin-top:5px;
  padding-left: 20px;
}
.sitebooking_cat{
  font-size:12px;
}
.sitebooking_cat_selected{
  background-color:#CFF7FF;
  font-weight:bold;
}
.sitebooking_sub_cat_wrapper{
  margin-top: 10px;
  padding-left: 20px;
}
.sitebooking_sub_cat_wrapper .sitebooking_sub_cat_wrapper{
  padding-left:30px;
}
.sitebooking_categories_right{
  border-left-width:2px;
  overflow:hidden;
  padding-left:10px;
}
.sitebooking_categories_right .settings form > div{
  padding:20px;
}
.sitebooking_categories_right .settings .form-label{
  width:100px;
}
.sitebooking_categories_right .settings .form-element{
  max-width:420px;
}
.sitebooking_categories_icon{
  max-width:24px;
}
.sitebooking_categories_banner_img{
  max-width:300px;
}
/*Ratings*/
.sitebooking_rating_star_generic{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  font-size: 1px;
  cursor: default;
}
.rating_star_y{background-image: url(~/application/modules/Sitebooking/externals/images/rating/star_y.png);}
.rating_star_half_y{ background-image: url(~/application/modules/Sitebooking/externals/images/rating/star_half_y.png);}
.rating_star_r{background-image: url(~/application/modules/Sitebooking/externals/images/rating/star_r.png);}
.rating_star_half_r{background-image: url(~/application/modules/Sitebooking/externals/images/rating/star_half_r.png);}
.rating_star_b{background-image: url(~/application/modules/Sitebooking/externals/images/rating/star_b.png);}
.rating_star_half_b{background-image: url(~/application/modules/Sitebooking/externals/images/rating/star_half_b.png);}
.sitebooking_rating_star_disabled{background-image: url(~/application/modules/Sitebooking/externals/images/rating/star_disable.png);}

/*Add Item AUTOSUGGEST */
ul.sitebooking_categories-autosuggest
{
  position: absolute;
  padding: 0px;
  width: 300px;
  sitebooking-style: none;
  z-index: 50;
  border: 1px solid #d2d1d1;
  margin: 0px;
  sitebooking-style: none;
  cursor: pointer;
  background: #fff;
}
ul.sitebooking_categories-autosuggest > li
{
  padding: 3px;
  overflow: hidden;
}
ul.sitebooking_categories-autosuggest > li + li
{
  border-top: 1px solid #d2d1d1;
}
ul.sitebooking_categories-autosuggest > li img
{
  width: 48px;
  height: 48px;
  display: block;
  float: left;
  margin-right: 5px;
}
ul.sitebooking_categories-autosuggest > li.autocompleter-selected
{
  background: #dbdbdb;
  color: #333;
}
ul.sitebooking_categories-autosuggest > li.autocompleter-choices
{
  font-size: .8em;
  overflow:hidden;
}
ul.sitebooking_categories-autosuggest > li.autocompleter-choices .autocompleter-choice
{
  line-height: 20px;
  overflow:hidden;
}
ul.sitebooking_categories-autosuggest > li:hover
{
  background: #dbdbdb;
  color: #222;
}
ul.sitebooking_categories-autosuggest > li span.autocompleter-queried
{
  font-weight: bold;
}
ul.sitebooking_categories-autosuggest .search-working
{
  background-image: none;
}
.autocompleter-choice
{
  cursor: pointer;
}
.autocompleter-choice:hover
{
  color: #5ba1cd;
}
/*admin profile fields*/
.sitebooking_custom_fields .admin_field{
  float:left;
}
ul.sitebooking_custom_fields .admin_field > span{
  background-image:none;
}
.sitebooking_custom_fields .admin_field_checkbox{
  clear: none;
  float: left;
  margin: 13px 0 0 10px;
}
.sitebooking_settings_form .settings form{float:none !important;}   
.sitebooking_settings_form .settings .form-element {
  max-width: 650px !important;
}
.sitebooking_settings_form .settings .form-description {
  max-width: none !important;
  width:auto !important;
}
.sitebooking_settings_form .settings .form-element .description {
  max-width: 650px !important;
}
#global_page_sitebookingadmincontact-admin-mails-index .event_calendar_container input[type="text"]{
  padding: 3px;
}
/*Global Settings*/
.sitebooking_global_settings div + h3{
  border-bottom-width: 1px;
  margin-top: 15px;
  padding-bottom: 10px;
}
table.seaocore_admin_table tbody tr td:last-child{
  white-space: inherit;
}

#multidelete_form {
  overflow-x: auto;
  width: 100%;
  box-sizing: border-box;;
}

/*stars*/
.rating_star_big_generic{
/*  float: left;*/
  display: inline-block;
  width: 19px;
  height: 17px;
  background-repeat: no-repeat;
  font-size: 1px;
}
.rating_star_big{
  /*background-color: red;*/
  height: auto;
  width: auto;
}
.rating_star_big:before {
  content: "\\f005";
  font-family: fontawesome;
  font-size: 16px;
  color: #FFC107;
}
.rating_star_big_half {
  background-color: yellow;
  height: 10px;
  width: 20px;
}
.rating_star_big_disabled{
  /*background-color: grey;*/
  height: auto;
  width: auto;
}
.rating_star_big_disabled:before {
    content: "\\f005";
  font-family: fontawesome;
  font-size: 16px;
  color: #c3c3c3;
  }
.search > form {
  align-items: center;
}
/* ADMIN UI WORK */
[id*="global_page_sitebooking-admin-"] .admin_search  div.search div select {
	max-width: 99px;
	width: 99px;
}
[id*="global_page_sitebooking-admin-"] input,
[id*="global_page_sitebooking-admin-"] select {
	box-sizing: border-box;
}
[id*="global_page_sitebooking-admin-"] table.admin_table tbody tr td,
[id*="global_page_sitebooking-admin-"] table.admin_table thead tr th {
	text-align: center;
}
[id*="global_page_sitebooking-admin-"] .settings div.form-element .description,
[id*="global_page_sitebooking-admin-"] .settings .form-description {min-width: auto; width: auto; max-width: 100%;}
[id*="global_page_sitebooking-admin-"] .settings  form > h3 {
	margin-bottom: 10px;
}
[id*="global_page_sitebooking-admin-"] .settings h4 {
	margin-top: inherit;
}
#service_duration button {
	margin-top: 10px;
}
.admin_members_results {
	margin-top: 15px;
	margin-bottom: 15px;
}
.admin_members_results > div {
	font-weight: bold;
}
#global_page_sitebooking-admin-booking-manage-index p {
	word-break: break-word;
}
#global_page_sitebooking-admin-settings-review-provider-manage .search .form-wrapper,
#global_page_sitebooking-admin-settings-review-service-manage .search .form-wrapper {
	float: left;
	margin-right: 10px;
}
[id*="global_page_sitebooking-admin-"] .seaocore_admin_tabs + h3 {
	margin-bottom: 12px;
}
#global_page_sitebooking-admin-service-manage-index button,
#global_page_sitebooking-admin-provider-manage-index button {
	margin-bottom: 10px;
}
#global_page_sitebooking-admin-booking-manage-index div.event_calendar_container {
	height: auto;
  display: flex!important;
  align-items: center;
}



#global_page_sitebooking-admin-booking-manage-index table.admin_table tbody tr td,
#global_page_sitebooking-admin-booking-manage-index table.admin_table thead tr th {
	text-align: left;
}
#global_page_sitebooking-admin-booking-manage-index .sb_admin_calendar {
	width: 150px !important;
	max-width: 150px !important;
}
#global_page_sitebooking-admin-booking-manage-index .sb_admin_calendar input.seaocore_event_calendar {
	width: 70% !important;
	max-width: 70% !important;
}
#global_page_sitebooking-admin-booking-manage-index .sb_admin_calendar select {
	width: 100% !important;
	max-width: 100% !important;
}
#global_page_sitebooking-admin-settings-review-service-manage #rating,
#global_page_sitebooking-admin-settings-review-provider-manage #rating {
	width: auto !important;
max-width: 100%;
}