
/* $Id: mobile.css 8825 2011-04-09 01:34:20Z john $ */



/*
COMPOSE PROVIDER ENTRY
Styles the compose provider entry form.
*/
#providers_create div.form-label
{
  float: none;
  text-align: left;
  margin: 0px;
  padding: 0px 0px 5px 0px;
}
#providers_create div.form-element
{
  float: none;
}






/*
BROWSE PROVIDERS
Styles the browse providers page and the
manage provider entries page.
*/
#show-wrapper
{
  display: none;
}
ul.providers_browse
{
  clear: both;
}
ul.providers_browse > li
{
  clear: both;
  padding: 0px 0px 15px 0px;
  overflow:hidden;
}
ul.providers_browse > li + li
{
  border-top-width: 1px;
  padding-top: 15px;
}
ul.providers_browse > li .providers_browse_photo
{
  float: left;
  overflow: hidden;
  margin-right: 20px;
}
ul.providers_browse > li .providers_browse_photo img
{
  width: 100px;
  display:block;
}
ul.providers_browse > li .providers_browse_options
{
  display: none;
}
ul.providers_browse > li .providers_browse_options > a
{
  clear: both;
  display: block;
  font-size: 0.9em;
  margin: 0 5px;
  padding-bottom: 2px;
  padding-top: 2px;
}
ul.providers_browse > li .providers_browse_info
{
  overflow: hidden;
}
ul.providers_browse > li .providers_browse_info_title
{
  font-weight: bold;
  font-size: 13pt;
  letter-spacing: -1px
}
ul.providers_browse > li .providers_browse_info_title > h3
{
  font-size: 12pt;
}
ul.providers_browse > li .providers_browse_info_date
{
  font-size: .8em;
  color: $theme_font_color_light;
}
ul.providers_browse > li .providers_browse_info .stat_info
{
  margin: 5px 0;
}
ul.providers_browse > li .providers_browse_info .stat_info span
{
  margin-right: 8px;
}
ul.providers_browse > li .providers_browse_info .views_provider
{
  display:none;
}
ul.providers_browse > li .providers_browse_info_blurb
{
  margin-top: 5px;
}



/*
VIEW PROVIDER
Styles both the 'view provider' and the 'view provider entry'
pages, including the right-side gutter column by default.
*/
ul.providers_entrylist > li
{
  padding-bottom: 10px;
  border-bottom-width: 1px;
  margin-bottom: 10px
}
ul.providers_entrylist h3
{
  margin-bottom: 1px;
}
ul.providers_entrylist .provider_entrylist_entry_date
{
  font-size: 9pt;
  margin-bottom: 5px;
  color: $theme_font_color_light;
  text-align: center;
}
ul.providers_entrylist .provider_entrylist_entry_body
{
  padding: 5px 5px 5px 0px;
  margin: 0px;
}
ul.providers_entrylist .provider_entrylist_entry_body img
{
  max-width: 100%;
}
ul.providers_entrylist .provider_entrylist_entry_body + .buttonlink
{
  margin-top: 5px;
}
ul.providers_entrylist + .comments
{
  padding-top: 10px;
}
#global_page_provider-index-view .layout_left
{
  display: none;
}
#global_page_provider-index-view h2
{
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.3em;
}
#global_page_provider-index-view .comments
{
  width: auto;
}
div.provider_entrylist_entry_body.rich_content_body >p{
padding-bottom: 1em;
}
div.provider_entrylist_entry_body.rich_content_body > ol{
    padding: 0em 0em 1em 1em;
}
.rich_content_body blockquote {
  border: 1px dashed $theme_border_medium_color;
  background: $theme_body_background_color;
  padding: 10px;
  margin: 10px 10px;
  display: block;
}

/* ACTION TYPE ICONS */
.activity_icon_comment_provider:before
{
  content: "\\f0e5";
  font-family:'Font Awesome 5 Free';
}




/* ITEM TYPE ICONS */
.item_icon_provider:before,
.item_icon_provider_entry:before
{
  content: "\\f0f6";
  font-family:'Font Awesome 5 Free';
}




/* ICONS */
.icon_provider_new
{
  position:relative;
}

.icon_provider_new:before 
{
  content: "\\f0f6";
}
.icon_provider_new:after
{
  content: "\\f055";
}

.icon_provider_edit:before 
{
  content: "\\f303";
}
.icon_provider_delete:before 
{
  content: "\\f056";
}
.icon_provider_style:before 
{
  content: "\\f1fc";
}
.icon_provider_viewall:before
{
  content: "\\f0f6";
}

/*
FEED ITEMS
Styles items with classified attachments in the feed.
*/
ul.feed .feed_attachment_provider
{
  display: block;
  overflow: hidden;
  margin: 0px 5px 5px 0px;
  vertical-align: top;
}
ul.feed .feed_attachment_provider > div > a
{
  display: block;
  float: left;
  margin-right: 7px;
}
ul.feed .feed_attachment_provider > div > a > img
{
  display: inline-block;
  max-width: 90px;
  max-height: 90px;
  vertical-align: top;
}
ul.feed .feed_attachment_provider > div > div
{
  overflow: hidden;
}
















/* hide menu items */
.headline .tabs .navigation li > a.provider_main_create
{
  display: none;
}
