* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
}

nav {
  background-color: #e0e0e0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: black;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #294f96;
}

nav img {
  margin-left: -30px;
}

.icon-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-nav i:not(:last-child) {
  margin-right: 20px;
}

.icon-nav i {
  font-size: 20px;
  color: #1e3869;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -55px;
  margin-top: 0.125rem;
}

.btn-secondary {
  color: #fff;
  background-color: transparent;
  border: none;
}
.btn-secondary:focus {
  outline: none;
  border: none;
}
.btn-secondary:hover {
  background-color: rgba(192, 192, 192, 0.822);
}
/*End Nav  */

/* start Home Page */
.bg-home-who {
  background-color: #1e3869;
  width: 100%;
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-who {
  text-align: center;
}

.div-who h4 {
  margin-bottom: 20px;
  border-width: 0;
  color: #fff;
}
.div-who p {
  margin-bottom: 30px;
  color: #fff;
}

.div-who button {
  background-color: #3fb2ca;
  padding: 10px;
  width: 250px;
  border-radius: 20px;
  color: white;
  border: none;
  transition: all 0.3s;
}

.div-who button:hover {
  background-color: white;
  color: black;
}
/* end Home Page */

/* start section step */
.Section-Step {
  padding-top: 50px;
  background-color: #f7f7f7;
}

.div-step-All {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Text-Step {
  max-width: 500px;
}

.img-step img {
  width: 300px;
}

.Circle-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

@media (max-width: 767px) {
  .div-step-All {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .Circle-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
  }
  .Circle-img img {
    margin-bottom: 20px;
  }
}

/* end section step */

/* start section Instructor */

.enwan-INSTRUCTOR {
  padding: 30px 0;
  color: #1e3869;
}

.INSTRUCTOR {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.Box-Constants-All {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.Box-Constants {
  max-width: 340px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s;
}

.img-contantss-1 {
  background-image: url(../images/img1.1-Constants.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: contain; */
  width: 340px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.img-contantss-1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.281)),
    url(../images/img1.1-Constants.png);
}

.img-contantss:hover .link-in-bg {
  display: flex;
}

.link-in-bg {
  display: flex;
  display: none;
}

.link-in-bg button i {
  margin-left: 5px;
}

.link-in-bg button {
  text-decoration: none;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.link-in-bg button:hover {
  border: 2px solid #1e3869;
  color: #1e3869;
}

.link-in-bg button:not(:last-child) {
  margin-right: 10px;
}

.img-contantss-2 {
  background-image: url(../images/img1-Contants.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 340px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.img-contantss-2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.281)),
    url(../images/img1-Contants.png);
}
.img-contantss-3 {
  background-image: url(../images/img3-Constants.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 340px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.img-contantss-3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.281)),
    url(../images/img3-Constants.png);
}
.img-contantss-4 {
  background-image: url(../images/img4-Contants.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 340px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.img-contantss-4:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.281)),
    url(../images/img4-Contants.png);
}
.img-contantss-5 {
  background-image: url(../images/img5-Contants.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 340px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.img-contantss-5:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.281)),
    url(../images/img5-Contants.png);
}
.img-contantss-6 {
  background-image: url(../images/img6-Contants.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 340px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.img-contantss-6:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.267), rgba(0, 0, 0, 0.281)),
    url(../images/img6-Contants.png);
}
.Box-Constants p {
  margin-bottom: 5px;
}

.Box-Constants img {
  max-width: 330px;
  transition: all 0.3s;
}

.Box-Constants img:hover {
  transform: scale(1.03, 1.03);
}

.Text-Contants-All {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 0;
}

.icon-Constants {
  color: #ffcd3c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-Constants p {
  margin-right: 0px;
}

.icon-Constants i {
  font-size: 15px;
}

.small-image {
  margin-right: 5px;
}

.btn-instructor {
  text-align: center;
}

.btn-instructor button {
  background-color: #ff955d;
  padding: 10px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid #ff955d;
  color: white;
  margin-bottom: 50px;
  transition: all 0.3s;
}

.btn-instructor button:hover {
  background-color: white;
  border: 1px solid #ff955d;
  color: #ff955d;
}

.enwan-instructor-2 {
  text-align: center;
  margin: 30px auto;
}
.enwan-instructor-2 p {
  color: #27498a;
}
@media (max-width: 1200px) {
  .Box-Constants {
    width: 300px;
  }

  .Box-Constants img {
    max-width: 300px;
  }
}

@media (max-width: 991px) {
  .Box-Constants {
    width: 225px;
  }

  .Box-Constants img {
    max-width: 225px;
  }
  .Text-Contants-All {
    display: inline;
    text-align: center;
  }
  .img-contantss:hover .link-in-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .link-in-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
  }
}

@media (max-width: 767px) {
  .Box-Constants {
    width: 300px;
    margin-bottom: 20px;
  }

  .Box-Constants img {
    max-width: 300px;
  }
  .Text-Contants-All {
    display: inline;
    text-align: center;
  }

  .Box-Constants-All {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .small-image {
    margin-right: 0px;
  }

  .Participate-All {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .img-contantss:hover .link-in-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .link-in-bg {
    display: flex;
    display: none;
  }

  .img-contantss-1,
  .img-contantss-2,
  .img-contantss-3,
  .img-contantss-4,
  .img-contantss-5,
  .img-contantss-6,
  .img-contantss-7,
  .img-contantss-8,
  .img-contantss-9,
  .img-contantss-10,
  .img-contantss-11,
  .img-contantss-12,
  .img-contantss-13,
  .img-contantss-14,
  .img-contantss-15 {
    width: 300px;
  }

  .link-in-bg button {
    width: 130px;
  }
}

/* end section Instructor */

/* start footer */
footer {
  background-color: #cfd2d8;
  padding: 20px 0;
  color: white;
}
.foot-All {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.foot-All a {
  text-decoration: none;
  color: white;
}

.foot-All a:hover {
  color: #27498a;
}

.foot-All h2 {
  color: #1e3869;
}
.foot-All h4 {
  color: #1e3869;
}
.About-Foot a {
  display: block;
  margin-bottom: 5px;
}

.LOGO-FOOT {
  text-align: center;
}

.LOGO-FOOT a:not(:last-child) {
  margin-right: 10px;
}

.LOGO-FOOT i:hover {
  cursor: pointer;
  color: #294f96;
}

.khat-foot {
  background-color: #1e3869;
  width: 100%;
  height: 1px;
}

.txt-under-foot {
  text-align: center;
  color: #1e3869;
}

.txt-under-foot p {
  margin-bottom: 0;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .Contact-Us-Foot {
    text-align: center;
  }
  .About-Foot {
    text-align: center;
  }
  .Follow-Us-Foot {
    text-align: center;
  }
  .English {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .foot-All {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
  }

  .Contact-Us-Foot {
    text-align: left;
  }
  .About-Foot {
    text-align: left;
  }
  .Follow-Us-Foot {
    text-align: left;
    margin-bottom: 20px;
  }
  .LOGO-FOOT {
    text-align: left;
  }
  .English {
    text-align: left;
  }
}
/* end footer */
