/*
DEFAULT STYLES FOR THIS THEME
*/

@constants {
	/*Layout*/
	/*
  NOTE TO SELVES ---------------------------------------------------------------
  Also add constants to application/settings/constants.xml
  END NOTE ---------------------------------------------------------------------
  */
	/*
  PAGE WIDTHS & BACKGROUND COLOR
  Specify the top bar wrapper width (which contains the mini menu, logo, and main menu
  by default), the footer width, and the width of left & right-side columns.
  */
	theme_topbar_width: $company_main_width;
	theme_topbar_minimenu_width: auto;
	theme_topbar_logo_width: auto;
	theme_topbar_menu_width: auto;
	theme_footer_width: $company_main_width;
	theme_content_width: $company_main_width;
	theme_content_columns_left_width: $company_left_columns_width;
	theme_content_columns_right_width: $company_right_columns_width;
	theme_body_background_color: $company_body_background_color;
	theme_body_background_image: url(../../../$company_body_background_image);
	/* 
  HEADER AND FOOTER COLORS
  These values are only used to style the site-wide header and footer.
  */
	theme_topbar_background_color: $company_header_background_color;
	theme_footer_background_color: $company_footer_background_color;
	theme_topbar_searchbox_background_color: $company_header_searchbox_background_color;
	theme_topbar_searchbox_border_color: $company_header_searchbox_border_color;
	theme_topbar_searchbox_text_color: $company_header_searchbox_text_color;
	/*
	Logo
	*/
	theme_logo_color: $company_theme_color;
	/*
	Mini Menu
	*/
	theme_topbar_minimenu_background_color: transparent;
	theme_topbar_minimenu_link_hover_background_color: transparent;
	theme_topbar_minimenu_border: 2px solid transparent;
	theme_topbar_minimenu_link_size: 14px;
	theme_topbar_minimenu_link_color: $company_minimenu_links_color;
	theme_topbar_minimenu_link_hover_color: $company_minimenu_links_hover_color;
	theme_topbar_minimenu_link_hover_decoration: none;
	theme_topbar_border: 0px solid transparent;
	theme_topbar_menu_link_border_color: transprant;
	theme_header_border_color: $company_header_border_color;
	/*
	Main Menu
	*/
	theme_topbar_menu_background_color: transparent;
	theme_topbar_menu_background_color_hover: transparent;
	theme_topbar_menu_border_color_hover: $company_mainmenu_links_hover_color;
	theme_topbar_menu_link_color: $company_mainmenu_links_color;
	theme_topbar_menu_link_hover_color: $company_mainmenu_links_hover_color;
	theme_topbar_menu_link_active_color: $company_mainmenu_links_hover_color;
	theme_topbar_menu_link_decoration: none;
	theme_topbar_menu_link_hover_decoration: none;
	theme_topbar_menu_font_family: $company_mainmenu_fontfamily;
	theme_topbar_menu_link_size: $company_mainmenu_fontsize;
	theme_topbar_menu_link_background_color: transparent;
	theme_topbar_menu_link_background_color_hover: transparent;
	theme_topbar_menu_link_background_color_active: transparent;
	theme_topbar_menu_border: 0px solid transparent;
	theme_topbar_menu_border_color: $company_header_border_color;
	/*
	Footer Links
	*/
	theme_footer_color: $company_footer_text_color;
	theme_footer_link_color: $company_footer_links_color;
	theme_footer_link_hover_color: $company_footer_links_hover_color;
	theme_footer_tittle_border_color: $company_footer_border_color;
	/* 
  TEXT & LINKS
  These values affect the size and colors of your text and links throughout your layout.
  */
	/*theme_font_family: OpenSansLight;*/
	theme_font_family: $company_body_fontfamily;
	theme_font_size: $company_body_fontsize;
	theme_font_color: $company_font_color;
	theme_font_color_light: $company_font_color_light;
	theme_text_align: left;
	theme_link_color: $company_links_color;
	theme_link_color_hover: $company_links_hover_color;
	theme_link_decoration: none;
	theme_link_decoration_hover: underline;
	theme_headline_font_family: $company_heading_fontfamily;
	theme_headline_color: $company_heading_color;
	theme_headline_size_large: 1.5em;
	theme_headline_size_medium: $company_heading_fontsize;
	;
	/* 
  BORDER COLORS
  These colors are mostly applied to borders that separate items in lists of content.
  */
	theme_border_color: $company_content_border_color;
	theme_border_medium_color: $company_content_border_color;
	theme_border_dark_color: $company_content_border_color;
	/*
  WIDGET BOX BORDER COLORS
  These colors are applied to borders around or within boxes that have a background color,
  like widgets.
  */
	theme_box_background_color: $company_content_background_color;
	theme_box_border_color: $company_content_border_color;
	theme_foreground_border_color: transparent;
	theme_foreground_border_color_light: transparent;
	theme_foreground_background_color: transparent;
	/*
  INPUT FIELDS AND BUTTONS
  These values style input fields and buttons that appear throughout the layout.
  */
	theme_input_background_color: $company_input_background_color;
	theme_input_font_color: $company_input_font_color;
	theme_input_border_colors: $company_input_border_color;
	theme_button_background_color: $company_button_background_color;
	theme_button_background_color_hover: $company_button_background_color_hover;
	theme_button_font_color: $company_button_font_color;
	theme_button_font_hover_color: $company_button_font_hover_color;
	theme_button_border_color: $company_button_border_color;
	/*
  PHOTO BORDERS
  These colors are applied to the borders drawn around most images and thumbnails.
  */
	theme_photo_border_color: transprant;
	theme_photo_border_color_hover: transprant;
	/* 
  FORMS
  These colors are applied to most forms throughout the layout.
  */
	theme_form_border_color: $company_content_border_color;
	theme_form_background_color: $company_content_background_color;
	theme_form_label_font_color: $company_form_label_color;
	/*
  TABS (BUTTON-STYLE)
  These colors are applied to the button-style tab menus which are often shown
  on browse pages.
  */
	theme_buttontabs_font_size: $company_tab_fontsize;
	theme_buttontabs_font_color: $company_font_color;
	theme_buttontabs_font_color_hover: $company_theme_color;
	theme_buttontabs_font_color_active: $company_theme_color;
	theme_buttontabs_background_color: transprant;
	theme_buttontabs_background_color_hover: transprant;
	theme_buttontabs_background_color_active: transprant;
	theme_buttontabs_border_color_active: $company_theme_color;
	theme_button_tabs_font_color_active: transprant;
	theme_buttontabs_font_family: $company_tab_fontfamily;
	/*
  TABS
  These colors are applied to tab menus (as seen on several pages, including
  the member profile page).
  */
	theme_tabs_background_color: transprant;
	theme_tabs_border_color: $company_content_border_color;
	theme_tabs_border_color_hover: $company_theme_color;
	theme_tabs_font_color: $company_links_color;
	theme_tabs_font_color_active: $company_theme_color;
	theme_tabs_background_color_active: transprant;
	theme_tabs_background_color_hover: transprant;
	theme_tabs_font_size: 15px;
	/*
  LISTS
  These colors are applied to some lists, especially in pull-down menus.
  */
	theme_list_background_color: $theme_box_background_color;
	theme_list_background_color_alt: rgba(0, 0, 0, .1);
	theme_list_background_color_hover: rgba(0, 0, 0, .1);
	/*
  TAGS
  These colors are applied to tags, which appear on blogs, messages, etc.
  */
	theme_tag_background_color: rgba(0, 0, 0, .1);
	/*
  INLINE PULLDOWN MENUS
  These colors style the inline pulldown menus that appear throughout the layout.
  */
	theme_pulldown_background_color: $company_content_background_color;
	theme_pulldown_background_color_hover: rgba(0, 0, 0, .1);
	theme_pulldown_background_color_active: $company_theme_color;
	theme_pulldown_font_color_active: $company_font_color;
	theme_pulldown_border_color: $theme_border_color;
	theme_pulldown_contents_list_color: $theme_font_color;
	theme_pulldown_contents_list_color_hover: $company_theme_color;
	theme_pulldown_contents_background_color: $company_content_background_color;
	theme_pulldown_contents_list_background_color_hover: rgba(0, 0, 0, .03);
	/*
  GRID VIEW LAYOUT
  These values set the width and height of grid layout.
  */
	theme_grid_width: 203px;
	theme_grid_height: 290px;
	/*
  SIGN IN BUTTON
  These colors style sign in button
  */
	theme_signin_color: #1d1d1d;
	theme_signin_color_hover: #fff;
	theme_signin_background_color_hover: #F10D6E;
	/*
	ACTIVITY FEED
	These colors are applied for activity feeds.
	*/
	theme_comments_background_color: rgba(0, 0, 0, .03);
	theme_sidebar_column:+sidebarcolumn($company_mobilehideleftrightcolumn);
}


/* Global member photos and icons */

img.main {
	max-width: 720px;
	max-height: 720px;
}

img.thumb_normal {
	max-width: 140px;
	max-height: 160px;
}

img.thumb_profile {
	max-width: 200px;
	max-height: 400px;
}

img.thumb_icon {
	width: 48px;
	height: 48px;
}

img.main,
img.thumb_normal,
img.thumb_profile,
img.thumb_icon {
	border: 1px solid $theme_photo_border_color;
}


/* Gives an element a gradient */


/*
GLOBAL MIXINS
These groups of styles called "mixins" are included in other
classes throughout the stylesheet.
*/


/* Gives an element a background and/or border */

=foreground {
	background-color: $theme_foreground_background_color;
}


/* Gives an element a drop shadow */

=shadow($offset_x=0, $offset_y=0, $blur_radius=0, $spread_radius=0, $shadow_color="#aaa") {
	-moz-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
	-webkit-box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
	box-shadow: $offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}


/* Gives an element rounded corners. */

=rounded($radius=0px, $hidecorner1=false, $hidecorner2=false, $hidecorner3=false, $hidecorner4=false) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
	@if($hidecorner1==true) {
		-moz-border-radius-topleft: 0px;
		-webkit-border-top-left-radius: 0px;
		border-top-left-radius: 0px;
	}
	@if($hidecorner2==true) {
		-moz-border-radius-topright: 0px;
		-webkit-border-top-right-radius: 0px;
		border-top-right-radius: 0px;
	}
	@if($hidecorner3==true) {
		-moz-border-radius-bottomright: 0px;
		-webkit-border-bottom-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	@if($hidecorner4==true) {
		-moz-border-radius-bottomleft: 0px;
		-webkit-border-bottom-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}
/* 
Prevents users from selecting contents 
*/

=noselect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-ms-user-select: none;
	user-select: none;
}
=sidebarcolumn($theme_sidebar_column=1) {
	@if($theme_sidebar_column==1) {
		.layout_left, .layout_right{display:none;}
	}
}