.layout_sescompany_banner{
	background-color:transparent !important;
	border-width:0  !important;
	padding:0 !important;
	margin:0 0 15px !important;
	position:inherit !important;
}
.layout_sescompany_banner:before, .layout_sescompany_banner:after{
	display:none;
}
.layout_sescompany_banner + .generic_layout_container{
	margin-top:15px !important;
}
.sescompany_banner_container{
	position:relative;
}
.sescompany_banner_container_wrapper.isfull .sescompany_banner_container{
	position:absolute;
	left:0;
	right:0;
}
.sescompany_banner_img_container{
	height:100%;
	overflow:hidden;
	position:relative;
	width:100%;
}
.sescompany_banner_img_container img{
	height:100%;
	position:absolute;
	object-fit:cover;
	width:100%;
	z-index:1;
}
.sescompany_banner_content{
	display:table;
	margin:0 auto;
	height:100%;
	padding:0 70px;
	width:100%;
	top:0;
	position:absolute;
	z-index:1;
}
.sescompany_banner_content:before{
	content:"";
	position:absolute;
	left:0;
	top:0;
	opacity:.7;
	width:100%;
	height:100%;
}
.sescompany_banner_content_inner{
	display:table-cell;
	vertical-align:middle;
	position:relative;
}
[dir="rtl"] .sescompany_banner_content_inner{
	text-align:center;
}
.sescompany_banner_title, .sescompany_banner_des{
	margin:10px 0;
	clear:both;
	text-shadow:0 1px 3px rgba(255, 255, 255, 0.3);
}
.sescompany_banner_title{
	font-size:40px;
	font-weight:bold;
}
.sescompany_banner_des{font-size:14px;}
.sescompany_banner_btns a{
	border-radius:5px;
	font-size:14px;
	letter-spacing:1px;
	display:inline-block;
	padding:10px 15px;
	-webkit-transition:all 200ms ease 0s;
	-moz-transition:all 200ms ease 0s;
	-o-transition:all 200ms ease 0s;
	transition:all 200ms ease 0s;
	border:1px solid;
}
.sescompany_banner_btns a:hover{text-decoration:none;}
.sescompany_banner_btns {
    margin-top:20px;
}
@media only screen and (max-width:950px){
	.sescompany_banner_content{padding:0 50px;}
}
@media only screen and (max-width:768px){
	.sescompany_banner_content{padding:0 20px;}
	.sescompany_banner_title{font-size:20px;}
	.sescompany_banner_des{font-size:15px;}
}
/*Banner Widget CSS End Here*/

/*Banner Widget CSS Start Here*/
.layout_sescompany_banner_slideshow{
	background-color:transparent !important;
	border-width:0  !important;
	padding:0 !important;
	margin:0 0 15px !important;
}
.layout_sesspectromedia_banner + .generic_layout_container{
	margin-top:15px !important;
}
.company_banner_container{
	position:relative;
}
.company_banner_container_wrapper.isfull .company_banner_container{
	position:absolute;
	left:0;
	right:0;
}
.company_banner_img_container{
	height:100%;
	overflow:hidden;
	position:relative;
	width:100%;
}
.company_banner_img_container img{
	height:100%;
	position:absolute;
	object-fit:cover;
	width:100%;
	z-index:1;
}
.company_banner_content{
	background-color:rgba(0, 0, 0, .5);
	display:table;
	margin:0 auto;
	height:100%;
	padding:0 200px;
	width:100%;
	top:0;
	position:absolute;
	z-index:2;
}
.company_banner_content_inner{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
[dir="rtl"] .company_banner_content_inner{
	text-align:center;
}
.company_banner_title, .company_banner_des{
	margin:10px 0;
	clear:both;
	text-shadow:0 1px 3px rgba(255, 255, 255, 0.3);
}
.company_banner_title{
	font-size:40px;
}
.company_banner_des{font-size:17px;}
.company_banner_btns{margin:30px 0;text-align:center;}
.company_banner_btns a{
	border-radius:5px;
	font-weight:bold;
	font-size:15px;
	letter-spacing:1px;
	display:inline-block;
	margin:0 5px;
	padding:10px 20px;
  -webkit-transition:all 200ms ease 0s;
	-moz-transition:all 200ms ease 0s;
	-o-transition:all 200ms ease 0s;
	transition:all 200ms ease 0s;
}
.company_banner_btns a:hover{text-decoration:none;}
@media only screen and (max-width:950px){
	.company_banner_content{padding:0 50px;}
}
@media only screen and (max-width:768px){
	.company_banner_content{padding:0 20px;}
	.company_banner_title{font-size:20px;}
	.company_banner_des{font-size:15px;}
}
/*Banner Widget CSS End Here*/