/* $Id: style_board.css 6590 2013-04-01 00:00:00Z SocialEngineAddOns Copyright 2012-2013 BigStep Technologies Pvt. Ltd. $ */

.layout_sitereview_pinboard_listings_sitereview, .layout_sitepage_pinboard_pages{
	clear: both;
	overflow:hidden;
	position:relative;
}
.layout_sitereview_pinboard_listings_sitereview h3, .layout_sitepage_pinboard_pages h3{
	margin-bottom:10px;
}
.seaocore_board_list{
	border-width:1px\9;
	border-style:solid\9;
	margin:0 8px 18px;
	position:relative;
	box-shadow:0 3px 5px #AAAAAA;
}
.seaocore_board_list:hover{
	box-shadow: 0 3px 5px #999;
}
.seaocore_board_list > div{
	padding:0;
	margin:0;
}
.seaocore_board_list .seaocore_list_featured_label, 
.seaocore_board_list .seaocore_list_new_label{
	z-index:1;
}
.seaocore_board_list_thumb{
	background-color: #F5F5F5;
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.seaocore_board_list_thumb table{
	height:100px;
	width:100%;
}
.seaocore_board_list_thumb table td{
	text-align:center;
}
.seaocore_board_list_thumb a{
	float:left;
	text-decoration:none;
	width:100%;
}
.seaocore_board_list_thumb img{
	width:100%;
	border:none;
	max-height:inherit;
	max-width:inherit;
}
.seaocore_board_list_cont{
	clear:both;
	padding:5px 10px 10px;
	border-top-width: 1px;
}
.seaocore_board_list_cont .seaocore_title{
	font-weight:bold;
	margin-bottom:5px;
	font-size: 15px;
}
.seaocore_board_list_cont .seaocore_description{
	margin-bottom:5px;
}
.seaocore_board_list_btm .seaocore_stats,
.seaocore_board_list_cont .seaocore_stats{
	margin:0 0 7px;
	text-align: center;
}
.seaocore_board_list .seaocore_board_list_btm{
	display: inline-block;
	position: relative;
	text-align: center;
	width: 100%;
}
.seaocore_board_list_btm > a,
.seaocore_board_list_btm > img,
.seaocore_board_list_btm > a img{
	margin-top: -22px;
	border: 3px solid #fff;
	border-radius: 50%;
}
.seaocore_board_list_btm > a img,
.seaocore_board_list_btm > img{
	width:35px;
	height:35px;
}
/*Comments*/
.seaocore_board_list_comments{
	width:100%;
}
.seaocore_board_list_comments .comments{
	background-image:none;
	width:inherit !important;
	padding:0;
}
.seaocore_board_list_comments .comments .comments_options{
	display:none;
}
.seaocore_board_list_comments .comments > ul > li{
	position:relative;
}
.seaocore_board_list_comments .comments > ul > li,
.seaocore_board_list_comments .comments > form{
	background:url(../images/pinboard/bg2.png) repeat scroll 0 0 transparent;
	border-color:#EAEAEA;
	border-style:solid;
	border-width:1px 0 0 0;
	margin:1px 0 0 0;
	padding:5px 12px 5px 10px;
	overflow:hidden;
}
.seaocore_board_list_comments .comments .comments_author_photo img{
	width:35px;
	height:35px;
}
.seaocore_board_list_comments .comments > form > textarea{
	width:-moz-available;
}
.seaocore_board_list_comments .comments > form > button{
	font-size:11px;
	float:right;
	padding:5px;
}
.seaocore_comment_remove{
	background:url(../images/pinboard/delete.png) no-repeat right;
	float:right;
	height:11px;
	width:11px;
	cursor:pointer;
	display:none;
	position:absolute;
	right:5px;
	top:8px;
}
html[dir="rtl"] .seaocore_comment_remove{
	float:left;
}
.seaocore_comment_remove:hover {
	background:#577BC6 url(../images/pinboard/delete.png) no-repeat left;
}
.seaocore_board_list_comments .comments > ul > li:hover .seaocore_comment_remove{
	display:block;
}
.seaocore_board_list_comments .comments .comments_date{
	margin-top:5px;
}
/*Action Links*/
.seaocore_board_list_action_links{
	position: absolute;
	right: 2px;
	top: -5px;
	z-index:2;
	opacity: 0;
}
.seaocore_board_list:hover .seaocore_board_list_action_links{
	opacity: 1;
	top: 5px;
	transition: all 0.35s ease-in-out 0s;
}
.seaocore_board_list_action_links a{
	border-radius:2px;
	padding: 7px 10px;
	background-color: rgba(0, 0, 0, 0.3);
	display:inline-block;
	margin: 1px;
	float:left;
	transition: background-color 0.2s ease-in-out 0s;
}
div.seaocore_board_list_action_links a {
	color: #fff !important;
}
.seaocore_board_list_action_links a label.srlbCompare{
	margin-top:0px !important;
}
.seaocore_board_list_action_links a,
.seaocore_board_list_action_links a label.srlbCompare{
	color: #fff !important;
	text-decoration:none !important;
}
.seaocore_board_list_action_links a:hover .seaocore_compare_button label.srlbCompare{
	color: #666060;
}
.seaocore_board_list_action_links a:active {
	background-color: #EBE8E8;
	border-color: #B7B7B7;
	color: #454141;
}
.seaocore_board_list_action_links a.seaocore_board_icon{
	background-position: 4px center;
	background-repeat: no-repeat;
	background-image: none;
}
.seaocore_board_list_action_links a::before{
	font-family: FontAwesome;
	font-style: normal;
	font-size: 18px;
}
.tt_icon::before {content: "\f099";}
.fb_icon::before {content: "\f230";}
.li_icon::before {content: "\f0e1";}
.gp_icon::before {content: "\f0d5";}
.pin_icon::before {content: "\f0d2";}
.comment_icon::before {content: "\f075";}
.taf_icon::before {content: "\f0a1";}
.wishlist_icon::before {content: "\f02d";}
.print_icon::before {content: "\f02f";}
.like_icon::before {content: "\f08a";}
.unlike_icon::before {content: "\f004";}
.share_icon::before {content: "\f1e0";} 
.seaocore_board_list_action_links a.tt_icon:hover 		{background-color: #00aced;}
.seaocore_board_list_action_links a.fb_icon:hover 		{background-color: #3b5998;}
.seaocore_board_list_action_links a.li_icon:hover 		{background-color: #0077b5;}
.seaocore_board_list_action_links a.gp_icon:hover 		{background-color: #d34836;}
.seaocore_board_list_action_links a.pin_icon:hover 		{background-color: #C92228;}
.seaocore_board_list_action_links a.comment_icon:hover,
.seaocore_board_list_action_links a.taf_icon:hover,
.seaocore_board_list_action_links a.wishlist_icon:hover,
.seaocore_board_list_action_links a.print_icon:hover,
.seaocore_board_list_action_links a.like_icon:hover,
.seaocore_board_list_action_links a.share_icon:hover   {background-color: #3fc8f4;}
.seaocore_board_list_action_links a.unlike_icon:hover {background-color: #e43434;}


/*Css for mobile*/
@media only screen and (max-width: 920px) {
	.seaocore_list_wrapper {
		width: 50% !important;
		position: relative !important;
		top: inherit !important;
		left: 0 !important;
	}
	.seaocore_list_wrapper:nth-child(odd) { 
		float: left;
	}
	.seaocore_list_wrapper:nth-child(2n) {
    float: right;
	}
	.seaocore_board_list{
		width:94% !important;
	}
}
@media only screen and (min-width: 80px) and (max-width: 600px) {
	.seaocore_list_wrapper{
		margin: 0 auto 15px;
		width: 99% !important;
		left:0 !important;
	}
	.seaocore_list_wrapper:nth-child(2n) {
		left:0 !important;
	}
	.seaocore_board_list{
		width:100% !important;
		margin:0;
	}
} 
