* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
}

nav {
  background-color: #e0e0e0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: black;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #294f96;
}

nav img {
  margin-left: -30px;
}

.icon-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-nav i:not(:last-child) {
  margin-right: 20px;
}

.icon-nav i {
  font-size: 20px;
  color: #1e3869;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -55px;
  margin-top: 0.125rem;
}

.btn-secondary {
  color: #fff;
  background-color: transparent;
  border: none;
}
.btn-secondary:focus {
  outline: none;
  border: none;
}
.btn-secondary:hover {
  background-color: rgba(192, 192, 192, 0.822);
}
/*End Nav  */

/* ^^^^^^^^^^^^^^^ */
body {
  background-color: #f7f7f7;
}

.login {
  background-color: #fff;
  margin: 50px auto;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 10px;
  border-top: 2px solid #ff955d;
}

@media (min-width: 1400px) {
  .login {
    background-color: #fff;
    margin: 180px auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;
    border-top: 2px solid #ff955d;
  }
}

@media (min-width: 2000px) {
  .login {
    background-color: #fff;
    margin: 450px auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;
    border-top: 2px solid #ff955d;
  }
}

.cont-cont-2:hover {
  background-color: #3f51b5 !important;
  color: #fff;
}
.ico-img-2 {
  display: none;
}
.cont-cont-2:hover .ico-img-2 {
  display: block;
  padding-left: 10px;
}
.cont-cont-2:hover .ico-img {
  display: none;
}
.ico-goo {
  color: #fff;
  font-size: 25px;
}
.cont-cont:hover {
  background-color: #3f51b5 !important ;
  color: #fff;
}
.cont-cont:hover .ico-face {
  color: #fff;
}
.ico-face {
  font-size: 25px;
  color: blue;
}
.form-control:focus {
  border-color: #ff955d;
  box-shadow: 0px 2px 15px rgba(245, 129, 220, 0.25);
}

/* end login */
/* start line */
.parent {
  position: relative;
  margin: auto;
  width: 85%;
}

@media (max-width: 767px) {
  .parent {
    position: relative;
    margin: auto;
    width: 100%;
  }
}

.content::before {
  content: "";
  width: 45%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.37) !important;
  position: absolute;
  top: 11px;
  left: 14px;
}
.content::after {
  content: "";
  width: 45%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.37) !important ;
  position: absolute;
  top: 11px;
  right: 14px;
}
/* end line */
/* inputs */

/* .all-content-2
{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 23px;
} */

.sec-one {
  padding: 10px;
}

/* .div-check {
  display: flex;
  justify-content: space-between;
} */

.form-check {
  display: flex;
}

.form-check-input {
  width: 10%;
}

.bt-login-2 {
  background-color: #ff955d;
  color: #fff;
}
.bt-login-2:hover {
  background-color: #fdab7f;
  color: #fff;
}
.bt-login-5 {
  border: 1px solid #ff955d;
  color: #ff955d;
}
.bt-login-5:hover {
  background-color: #ff955d;
  color: #fff;
}
/* end inputs */
/* start footer */
.foot-er {
  background-color: white !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25) !important;
  border-radius: 0px 0px 10px 10px;
  border-top: 2px solid silver;
}

/* end footer */

@media (max-width: 991px) {
  /* .form-check-input {
    width: 3%;

  } */
}

@media (max-width: 767px) {
  .head-h {
    font-size: 21px;
  }
  .to-all-login {
    flex-direction: column;
  }
  .content::before {
    width: 40%;
  }
  .content::after {
    width: 40%;
  }
  .all-content-2 {
    justify-content: space-around;
    font-size: 15px;
  }

  .form-check-input {
    width: 12%;
  }
}

/* ^^^^^^^^^^^^^^^ */

/* start footer */
footer {
  background-color: #cfd2d8;
  padding: 20px 0;
  color: white;
}
.foot-All {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.foot-All a {
  text-decoration: none;
  color: white;
}

.foot-All a:hover {
  color: #27498a;
}

.foot-All h2 {
  color: #1e3869;
}
.foot-All h4 {
  color: #1e3869;
}
.About-Foot a {
  display: block;
  margin-bottom: 5px;
}

.LOGO-FOOT {
  text-align: center;
}

.LOGO-FOOT a:not(:last-child) {
  margin-right: 10px;
}

.LOGO-FOOT i:hover {
  cursor: pointer;
  color: #294f96;
}

.khat-foot {
  background-color: #1e3869;
  width: 100%;
  height: 1px;
}

.txt-under-foot {
  text-align: center;
  color: #1e3869;
}

.txt-under-foot p {
  margin-bottom: 0;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .Contact-Us-Foot {
    text-align: center;
  }
  .About-Foot {
    text-align: center;
  }
  .Follow-Us-Foot {
    text-align: center;
  }
  .English {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .foot-All {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
  }

  .Contact-Us-Foot {
    text-align: left;
  }
  .About-Foot {
    text-align: left;
  }
  .Follow-Us-Foot {
    text-align: left;
    margin-bottom: 20px;
  }
  .LOGO-FOOT {
    text-align: left;
  }
  .English {
    text-align: left;
  }
}
/* end footer */
